* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Devanagari', 'Noto Sans Tamil', 'Noto Sans', 'Noto Sans Symbols 2', sans-serif;

}

:root {
    --hue: 243;
    --saturation: 96%;
    --brightness: 66%;
    --primary-color: hsl(var(--hue), var(--saturation), var(--brightness));
    accent-color: var(--primary-color);
}  

a, a:visited {
    text-decoration: none;
    align-self: center;
    color: var(--primary-color);
}

body {
    background-color: hsl(var(--hue), 20%, 85%);
}   

header {
    height: fit-content;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--hue), 60%, 40%);
    margin-bottom: 50px;
    h1 {
        width: fit-content;
        color: #ffffff;
        text-align: center;
    }

    i {
        font-size: 45px;
        color: #ffffff;
        margin: 0 20px;
    }
}

main {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bg {
    font-size: 50em;
    color: hsl(var(--hue), 50%, 70%);
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

}

.introduction {
    width: 50%;
    max-width: 750px;
    padding: 20px 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: hsla(var(--hue), 10%, 95%, 60%);
    backdrop-filter: blur(5px);

    h2 {
        padding: 2px 5px;
        color: #ffffff;
        background-color: var(--primary-color);
        margin-bottom: 15px;
        text-align: center;
    }
}

.articles-list {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    background-color: hsl(var(--hue), 60%, 40%);
    border-radius: 10px;
    margin-bottom: 100px;
}

.article {
    padding: 20px;
    margin: 5px;
    border: 2px white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--hue), 10%, 90%);
    backdrop-filter: blur(10px);
    transition: all ease 0.2s;

    h2 {
        padding: 5px;
        background-color: var(--primary-color);
        transition: all ease 0.4s;
        color: #ffffff;
    }

    img {
        margin-top: 10px;
        width: 100%;
        height: 80px;
        object-fit: cover;
    }
}

.article:hover {
    cursor: pointer;
    transform: rotate(2deg) translateY(-5px);
}

.article h2:hover {
    transform: scale(1.02);
}

.reader {
    max-width: 950px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 65%;
    height: 100%;
    margin-bottom: 200px;
    padding: 3% 3% 8%;  

    img {
        margin: 30px auto;
        max-width: 80%;
    }

    h2 {
        margin-top: 70px;
        margin-bottom: 20px;
    }

    li {
        margin-top: 25px;
    }
}


footer {    
    background-color: hsl(var(--hue), 5%, 5%);
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    

    p {
        max-width: 90%;
        font-size: 12px;
        color: #ffffff;
    }
}


@media screen and (max-width: 400px) {
    #bg {
        font-size: 15em !important;
    }
}

@media screen and (max-width: 768px) {
    #bg {
        font-size: 20em !important;
    }
}

@media screen and (max-width: 1024px) {
    .articles-list {
        grid-template-columns: repeat(1, 3fr);
    }

    .introduction {
    width: 80%;
    }

    .reader {
        width: 100%;
    }

    #bg {
        font-size: 10em;
    }
}

@media screen and (max-width: 1400px) {
    .introduction {
        width: 70%;
    } 

    #bg {
        font-size: 40em;   
    }
}